html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: relative;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/relative-book-web.eot");
  src: url("../assets/fonts/relative-book-web.eot?") format("eot"), url("../assets/fonts/relative-book-web.woff") format("woff"), url("../assets/fonts/relative-book-web.ttf") format("truetype"); }
@font-face {
  font-family: relative;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/relative-medium-web.eot");
  src: url("../assets/fonts/relative-medium-web.eot?") format("eot"), url("../assets/fonts/relative-medium-web.woff") format("woff"), url("../assets/fonts/relative-medium-web.ttf") format("truetype"); }
@font-face {
  font-family: relative-mono;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/relative-10pitch-web.eot");
  src: url("../assets/fonts/relative-10pitch-web.eot?") format("eot"), url("../assets/fonts/relative-10pitch-web.woff") format("woff"), url("../assets/fonts/relative-10pitch-web.ttf") format("truetype"); }
h2 {
  font-weight: bold; }

.md-format h2 {
  margin-top: 30px; }
  .md-format h2:last-child {
    margin-top: 0; }

html, body, * {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: "relative", Helvetica, Arial;
  font-size: 18px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

.wrap {
  margin: 0 auto;
  width: 640px; }

.row {
  overflow: auto; }

.positioner {
  position: relative; }
  .positioner.full {
    width: 100%;
    height: 100%; }

/*
 *
 * BFTR-GRUNT LAYOUT
 *
 */
.free-label {
  position: absolute; }
  .free-label.top {
    top: 20px; }
  .free-label.bot {
    bottom: 20px; }
  .free-label.left {
    left: 20px; }
  .free-label.right {
    right: 20px; }

header {
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  background-image: url("../assets/gfx_photo_dunst.jpg");
  background-position: center center;
  background-repeat: no-repeat; }

.content {
  margin-top: 80px;
  margin-bottom: 80px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
