html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/WorkSans-Light.eot");
  src: url("../assets/fonts/WorkSans-Light.eot?") format("eot"), url("../assets/fonts/WorkSans-Light.woff") format("woff"), url("../assets/fonts/WorkSans-Light.ttf") format("truetype"); }
@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/WorkSans-Regular.eot");
  src: url("../assets/fonts/WorkSans-Regular.eot?") format("eot"), url("../assets/fonts/WorkSans-Regular.woff") format("woff"), url("../assets/fonts/WorkSans-Regular.ttf") format("truetype"); }
@font-face {
  font-family: WorkSans;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/WorkSans-Bold.eot");
  src: url("../assets/fonts/WorkSans-Bold.eot?") format("eot"), url("../assets/fonts/WorkSans-Bold.woff") format("woff"), url("../assets/fonts/WorkSans-Bold.ttf") format("truetype"); }
h1 {
  font-size: 6em;
  line-height: 1em;
  font-weight: bold; }

.emoji {
  margin-top: 8px;
  font-size: 1.4em;
  line-height: 1em; }

.md-format h2 {
  margin-top: 30px; }
  .md-format h2:last-child {
    margin-top: 0; }

html, body, * {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #fff;
  font-family: WorkSans, Helvetica, Arial;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

.wrap {
  margin: 0 auto;
  width: 640px; }

.row {
  overflow: auto; }

.positioner {
  position: relative; }
  .positioner.full {
    width: 100%;
    height: 100%; }

/*
 *
 * BFTR-GRUNT LAYOUT
 *
 */
.free-label {
  position: absolute; }
  .free-label.top {
    top: 20px; }
  .free-label.bot {
    bottom: 20px; }
  .free-label.left {
    left: 20px; }
  .free-label.right {
    right: 20px; }

.content {
  margin-top: 80px;
  margin-bottom: 80px; }

header {
  width: 100vw;
  height: 100vh;
  padding: 0px 14px;
  font-size: 0.9em;
  line-height: 1.2em;
  background-image: url("../assets/wizard_mono.gif");
  background-size: cover;
  background-position: center center; }
  header h1 {
    margin-left: -7px;
    margin-top: 0; }

ul.contact {
  position: absolute;
  bottom: 10px;
  left: 14px;
  font-size: 0.7em;
  line-height: 1.3em; }
  ul.contact li a {
    text-decoration: none;
    color: #fff; }
    ul.contact li a:hover {
      color: #000; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper object,
.videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */
