body
	margin  0
	padding 0
	
	background-image url('../../assets/gfx_photo_monkey.gif')
	background-size  cover

.positioner
	position relative
	&.full
		width  100%
		height 100%

.test
	do_calc(width, 100% - 120px)
	background yellow
	height 60px

.row
	overflow auto
	padding  $site-padding-s
