a
	background: $c-white
	color: $c-black
	text-decoration: none
	&:hover
		background: transparent
		color: $c-white
h1
	font: 4em / 1.1em $f-primary
	font-weight: bold
	margin: 0 0 0.5em 0
h2
	font: 1.5em / 1.1em $f-primary
	font-weight: bold
	margin: 0 0 0.8em 0
p
	margin: 0 0 1.3em 0
	&.meta
		font-size: 0.85em
		line-height: 1.5em
i
	font: 1em / 1em $f-tertiary
b, strong
	font-weight: bold
ul.steps
	li
		padding: 0 0 0 2%
	list-style-type: disc
	font-size: 0.9em
	line-height: 1.7em
