.logo-bleed
	width: 100px
	height: 38px
	&.white
		background-image: url("../../assets/logo_bleed-white.svg")
	&.black
		background-image: url("../../assets/logo_bleed-black.svg")
	background-size: 100% auto
	background-repeat: no-repeat
	margin: 0 0 $site-padding-s 0
