.DS_Store

assets/fonts/*
assets/fonts
**/*.ttf
**/*.otf
**/*.woff
**/*.woff2
**/*.svg
**/*.eot

# NODE / SASS / DEPENDENCIES
node_modules
jspm_packages
.sass-cache
npm-debug.log
*.log
logs

# SUBLIME
*.sublime-settings
*.sublime-project

# CONFIG
/craft/config/db.php
/craft/storage/*
!/craft/storage/logo/*
/uploads/

# SKETCH
*.sketch
