.DS_Store

# not legal
assets/fonts

# not necessary, but keeping it anyway
lib/dependencies/
lib/plugins/
lib/bftr.func.js

# NODE / SASS / DEPENDENCIES
node_modules
jspm_packages
.sass-cache
npm-debug.log
*.log
logs

# SUBLIME
*.sublime-settings
*.sublime-project

# CRAFT
/craft/config/db.php
/craft/storage/*
!/craft/storage/logo/*
/uploads/

# SKETCH
*.sketch
