// SPACES & SIZING
$site-padding-s = 15px

// if less than 15px, edit bootstrap files
$site-padding-m = 5%
$site-padding-l = 5%
$site-padding-xl = 5%

// BREAKPOINTS: HORIZONTAL
$break-hor-small = 100px
$break-hor-medium = 720px
$break-hor-large = 1024px
$break-hor-xlarge = 1280px

// BREAKPOINTS: VERTICAL
$break-ver-small = 100px
$break-ver-medium = 720px
$break-ver-large = 1024px
$break-ver-xlarge = 1280px

// FONTS
$f-primary = Helvetica, Arial
$f-secondary = Times, Georgia
$f-tertiary = Inconsolata, Courier, Menlo

// COLORS
$c-white = #f0f0f0
$c-black = black
$c-grey-light = #eeeeee
$c-grey-med = #dddddd
$c-grey-dark = #838383

// ANIMATION
$t-ease-bezier = cubic-bezier(1, 0, 0, 1)
