head
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(charset="UTF-8") 

	title bftrGrunt

	link(rel = "icon" type = "image/png" href = "assets/a_tch_fav.ico")
	link(rel = "stylesheet" href = "lib/slick.css")
	link(rel = "stylesheet" href = "css/stylus/style.css")
	
	<!--[if IE]>
	<script src="lib/html5shiv.min.js"></script>
	<![endif]-->