extends _layout.jade
block content
	div.videoWrapper
		iframe(
			width='420'
			height='315'
			src='http://www.youtube.com/embed/rAswRIY4S_A?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=true'
			frameborder='0'
			allowfullscreen
		)
