/*
 *
 * RE-USABLES
 *
 */

// PADDING
@include break($break-w-xs, min, width) {
	.pad-top   { padding-top:    $site-padding-xs; }
	.pad-right { padding-right:  $site-padding-xs; }
	.pad-bot   { padding-bottom: $site-padding-xs; }
	.pad-left  { padding-left:   $site-padding-xs; }
}
@include break($break-w-s, min, width) {
	.pad-top   { padding-top:    $site-padding-s; }
	.pad-right { padding-right:  $site-padding-s; }
	.pad-bot   { padding-bottom: $site-padding-s; }
	.pad-left  { padding-left:   $site-padding-s; }
}
@include break($break-w-m, min, width) {
	.pad-top   { padding-top:    $site-padding-m; }
	.pad-right { padding-right:  $site-padding-m; }
	.pad-bot   { padding-bottom: $site-padding-m; }
	.pad-left  { padding-left:   $site-padding-m; }
}
@include break($break-w-l, min, width) {
	.pad-top   { padding-top:    $site-padding-l; }
	.pad-right { padding-right:  $site-padding-l; }
	.pad-bot   { padding-bottom: $site-padding-l; }
	.pad-left  { padding-left:   $site-padding-l; }
}
@include break($break-w-xl, min, width) {
	.pad-top   { padding-top:    $site-padding-xl; }
	.pad-right { padding-right:  $site-padding-xl; }
	.pad-bot   { padding-bottom: $site-padding-xl; }
	.pad-left  { padding-left:   $site-padding-xl; }
}

// TEXT
.txt-a-right {
	text-align: right;
}

.row {
	overflow: auto;
}

.positioner {
	position: relative;
	&.full { width: 100%; height: 100%; }
}